* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    box-sizing: border-box;
}

/* .main-div{

} */

/*==========================*/
/*========NavBar============*/
/*==========================*/



nav {
    /* border: 2px solid rgb(108, 207, 108); */
    display: flex;
    justify-content: space-around;
    /* z-index: 1; */
}

nav>img {
    width: 85px;
    height: 78px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    position: relative;
    left: 60px;
    margin: 0px 25px;
    color: black;
    z-index: 1;
    font-family: Roboto;
}

.signin-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    width: 80px;
    height: 28px;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, rgb(53, 48, 204), rgb(188, 14, 173));
}


@media only screen and (max-width:640px) {
    body{
        margin: 0px auto
    }
    .nav-item{
        display: none;
    }
    .fa-solid.fa-bars{
        margin: 29px 0px;
        cursor: pointer;
    }
}


@media  screen and (min-width:1040px) {
    .fa-solid.fa-bars{
        display: none;
    }
}
/*==========================*/
/*=======intro-section======*/
/*==========================*/

/* .intro-section {
    display: flex;
} */


@media  only screen and (max-width:640px) {
    .intro-section{
        display: flex;
    }

 .left-section{
        /* border: 2px solid red; */
        position: relative;
        overflow-x: hidden;
        left: -200px;
    }


    div>img:nth-child(3){
     display: flex;
    height: 663px;
    width: 300px;
    position: relative;
    top: -180px;
    left: -60px;
    }
    .imgs-div {
        /* border: 2px solid red; */
        height: 300px;
        width: 250px;
        /* background-image: linear-gradient(to right, rgba(204, 173, 247, 0.637), rgba(223, 154, 217, 0.747)); */
        padding-top: 60px;
        z-index: 1;
        position: relative;
        top: 400px;
        left: 190px;
        border-radius: 0px 0px 76px 297px;
    
    }
}


@media screen and (min-width:945px){
    .imgs-div {
        height: 690px;
        width: 800px;
        background-image: linear-gradient(to right, rgba(204, 173, 247, 0.637), rgba(223, 154, 217, 0.747));
        padding-top: 60px;
        z-index: 1;
        position: relative;
        left: 600px;
        top: -100px;
        border-radius: 0px 0px 76px 297px;
        
    }
    div>img:nth-child(3) {
        /* border: 2px solid rgb(203, 255, 17); */
        z-index: 1;
        transform: rotate(-5deg);
        border-radius: 61px 0px 50px 650px;
        display: flex;
        position: relative;
        top: 13%;
        right: 166px;
        height: 663px;
        width: 718px;
        padding: 0px;
    }
}
/*==========================*/
/*=======left-section=======*/
/*==========================*/
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid rebeccapurple; */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 20%;
    left: 110px;
    padding: 20px;
}

.left-section>h1 {
    font-size: 40px;
    color: rebeccapurple;
}

.left-section>h4 {
    /* border: 2px solid red; */
    font-size: 14px;
}

.learn-more-btn {
    margin: 25px 0px;
    width: 145px;
    height: 45px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, rgba(53, 48, 204, 0.637), rgba(188, 14, 173, 0.719));
    position: relative;
    left: 50px;
}

/*==========================*/
/*========img-right=========*/
/*==========================*/

.imgs-div {
    /* height: 690px;
    width: 800px; */
    background-image: linear-gradient(to right, rgba(204, 173, 247, 0.637), rgba(223, 154, 217, 0.747));
    padding-top: 60px;
    z-index: 1;
    
    border-radius: 0px 0px 76px 297px;

}




div img[src="./images/vector.svg"] {
    /* border: 2px solid skyblue; */
    z-index: 1;
    position: absolute;
    bottom: 0px;
}

.vector-dot {
    /* border: 2px solid red; */
    /* z-index: 1; */
    z-index: 1;
    position: absolute;
    bottom: 80px;
    left: 3.1rem;
}



/* div>img:nth-child(3)::before{
    content: '';
    
    position: absolute;

} */